@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>

<div class="row">
    <div class="col-md-4">
    <h2>Welcome to Contoso University</h2>
    <p>
        Tarpe21 Contoso University projekt
    </p>
    </div>

    <div>
        <h2>Teine heading</h2>
        <p>
            mmmmm
        </p>
    </div>

</div>
